
@{
    ViewData["Title"] = "Index";
}
<style>
    .chatwindowsettings {
        width: 1150px;
        height: 540px;
        border: none;
        display: inline-block;
    }
</style>
<h2>Rummage Sale Chat</h2>
<p>Please do not use profane language in our online chat</p>
<!-- <iframe class="chatwindowsettings" scrolling="no" src="http://widget.mibbit.com/?settings=fa9d6d63ae2369c3c6dc596ac7349b23&server=irc.servercentral.net&channel=%23RummageSale"></iframe> -->
<iframe class="chatwindowsettings" src="https://kiwiirc.com/client/irc.servercentral.net/?nick=devCamp|?#RummageSale"></iframe>